@import "../../../assets/styles/common";
@import "../../../assets/styles/constants";


.logo-block {
  color: $logo_color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18pt;
  border: 2px solid white;
  border-radius: $border_radius_common;
}

.header-block{
  padding-top: 10px;
  height: $header_heigth;
}

.content-block{
  padding-top: 15px;
  height: $content_height;
}

.top-bar-block{
  padding: 5px;
  height: 100%;
}

.top-bar{
  border-radius: $border_radius_common;
  background-color: $white;
  height: 100%;
}

.side-panel-block {
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

.side-panel {
  background-color: $white;
  border-radius: $border_radius_common;
  height: 100%;
  width: 100%;
}

.children-block{
  border-radius: $border_radius_common;
  background-color: $white;
  height: 100%;
}

.children-column{
  height: 100%;
  width: 100%
}

.left-nav-block{
  width: 100%;
}

.log-out-btn{
  display:block !important;
  font-size: 16pt !important;
  font-weight: bold !important;
  float:right !important;
  height: 100%;
  margin-right: 1px;
}

.lang-block {
  height: 100%!important;
  float: right!important;
  margin-right: 2px;
}

.lng-btn {
  height: 100%;
}
