@import "constants";

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $main_background !important;
}

table.cmn-tbl {
  border-collapse:separate;
  border-radius:5px;
  -moz-border-radius:5px;

  td {
    cursor: pointer;
  }
}

.selected-cell {
  background-color: $blue !important;
  color: $white !important;
}
